/.idea
/cmake-build-rel
cmake-build-rel/.cmake/api/v1/reply/target-UntitledWare-RelWithDebInfo-3e97747f4d2285625068.json
cmake-build-rel/.cmake/api/v1/reply/target-UntitledWare-Release-513dbcca72be55bf3f24.json
cmake-build-rel/.cmake/api/v1/reply/target-UntitledWare-MinSizeRel-120904708b4d216e806b.json
cmake-build-rel/.cmake/api/v1/reply/target-UntitledWare-Debug-289b3d59ddace6346595.json
cmake-build-rel/.cmake/api/v1/reply/index-2024-11-11T17-49-40-0269.json
cmake-build-rel/.cmake/api/v1/reply/codemodel-v2-7e62c00265fcc3d12359.json
cmake-build-rel/.cmake/api/v1/reply/cmakeFiles-v1-c71de0d0532a3f272472.json
